article{
  clear: both;
  display: block;
  margin: 40px 0px;
  width: 100%;
  
  side{
    color: $grey;
    display: block;
    float: left;
    font-weight: normal;
    padding: 0% 1%;
    width: 23%; // 200px = 800*0.25
    
    #circle {
      @include border-radius(50%);
      background-color: lighten($grey, 45%);
      font-family: $quicksand;
      font-size: 2em; 
      height: 65px;
      width: 65px;
      margin-top: 0%;
      margin-bottom: 15%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
           
      div{ 
        padding:25%;
      }
    }
    date{
      font-family: $quicksand;
      display: block;
      text-align: center;
      font-size: 1em;
      width: 60%;
      margin: 0 auto;
      font-size: 1.3em;
    }
    
    list{
      display:block;
      text-align:center;
      width:60%;
      margin:10px auto;
      font-size: 1em;
    }
    a{
      color: darken($grey, 40%);
      font-family: $quicksand;
      &:hover{
        color: $blue; 
        text-decoration: none;
      }
    }
  }
  post{
    display:block;
    float:right;
    width:75%; /* 600px = 800*0.75 */  
    .sticky {
      background: #fff9c0;
      border-top: 3px solid #d9d4a3;
      border-bottom: 1px solid #D9D4A3;
      padding: 1.7em;
      margin-bottom:30px;
    } 
    li{margin-left:30px;}
    h4{
      font-family: $quicksand;
      font-size:2.5em; 
      font-weight: normal; 
      margin-bottom:30px; 
      color:lighten($grey, 20%);
      a{
        font-family: $quicksand;
        color:$grey;
        font-weight: normal;
        &:visited, &:link{
          color: $blue; 
          text-decoration: none;
        }
        &:hover, &:active{
          color: $blue; 
          text-decoration: underline;
        }
      }
    }
    p{
      font-family: $proxima;
      color:black;
      a { 
        &:link, &:visited{
          color: darken($blue,10%); 
          text-decoration: none;
        }
        &:hover, &:active{
          text-decoration: underline;
        }
      }
    }
  }
}