sidebar{
  clear:both;
  width:100%;
  margin:20px 0;

  h3, label{
    margin:0 0 15px 0;
    font-family: $quicksand;
    color:$grey;
    font-size: 1em;
  }
  
  ul.xoxo{
    width:100%;
    list-style-type: none;
    a { 
      color: $blue; text-decoration: none;
      &:visited { color: $blue; }
      &:hover { color: $blue; text-decoration: underline;}
    }
    
    li{
      width: 30%;
      float: left;
      margin-left:0;
      margin-right:5%;
      margin-bottom:5%;
      font-size:2em;
      &:nth-child(3n){ margin-right:0%;}
              
      ul {
        width:100%;
        li{
          font-size:0.6em;
          width:100%;
          margin: 0 0 0 2px;
          list-style: none;
          text-align: left;
        }          
      }
      input[type="text"]#s{
        width:100%;
        font-size: 0.7em;
        padding: 0.2em;
      }
    }
  } 
}

#wp-calendar{
  font-size:0.5em;
  td{
    padding:5px;
  }
}

sidebar ul.menu {
  li{
    line-height:19px;
  }
  a{
    &:link, &:visited, &:hover, &:active{
      font-family: $proxima;
      font-size: 16px;
      margin:0;
      padding: 0;
      font-weight: normal;
      line-height: 19px;
      text-align: left;
    }
  }
}