table{
  tr:nth-child(2n){
    background-color: #ddd;
  }
  td, th{
    padding: 10px;
    border: 1px solid #999;
  }
  th{
    font-weight: bold;
  }
}

dt {
  font-weight: bold;
}
dd {
  padding-left: 50px;
}