//wordpress theme info
@import "info";

//compass libraries
@import "compass/css3";
@import "compass/utilities/general/clearfix";

//ice cap theme variables
@import "color";
@import "font";

//resets and wp core classes
@import "reset";
@import "wpcore";

::-moz-selection { background: lighten($blue, 15%); color: #000; text-shadow: none; }
::selection { background: lighten($blue, 15%);  color: #000; text-shadow: none; }

a { 
  color: $blue; 
  text-decoration: none;
  &:visited { 
    color: $blue; 
  }
  &:hover { 
    color: $blue; 
    text-decoration: underline;
  }
  &:focus { 
    outline: 0; 
  }
  &:hover, &:active { 
    outline: 0; 
  }
}

div, ul, li { 
  position: relative; 
} 
br.clear { 
  clear: both; 
  display: block; 
  height: 1px; 
  margin: -1px 0 0 0; 
}

li#theme-switcher { 
  background: #fff; 
  border: 10px solid red; 
  padding: 20px; 
  position: fixed; 
    top: 0; 
    right: 0;
}

body{
  @include single-transition(all, 0.2s, ease-out);
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td 
{
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-weight: normal; 
  font-style: normal; 
  font-family: $proxima;
  color:black;
}

blockquote{
  background-color: #DDD;
  margin-left: 20px;
  border-left: 4px solid #666;
  p{
    margin-left: 10px;
  }
}

@import "table";

p.edit-post{
  margin: 10px 0;
}
a{
  &:link, &:visited, &:hover, &:active{
    &.post-edit-link{
      @include border-radius(4px);
      background-color: #ddd;
      color: darken($blue,10%); 
      margin: 10px 0;
      padding: 5px;
      
    }
  }
}

.gallery-caption {
  color: #888;
  margin: 0 0 12px;
}
.bypostauthor {
  background-color: #eee;
}

p{
  font-size: 1.2em; 
  line-height: 1.8em; 
  margin-bottom: 1em; 
  color: $grey;
}
img{ 
  max-width: 100%; 
  height: auto; 
  margin: 10px;
}

#wrapper{
  width: 800px;
  margin: 0 auto;
}

@import "header";
@import "article";
@import "nav";    




sidebar{
  clear:both;
  width:100%;
  margin:20px 0;
  
  ul.xoxo{
    width:100%;
    list-style-type: none;
    a { 
      color: $blue; text-decoration: none;
      &:visited { color: $blue; }
      &:hover { color: $blue; text-decoration: underline;}
    }
    
    li{
      width: 30%;
      float: left;
      margin-left:0;
      margin-right:5%;
      margin-bottom:5%;
      font-size:2em; /* each sidebar heading */
      &:nth-child(3n){ margin-right:0%;}
      h3, label{
        margin-bottom:15px;
        font-family: $quicksand;
        color:$grey;
      }
              
      ul {
        width:100%;
        li{
          font-size:0.6em;
          width:100%; /*each sidebar's list items*/
          margin-left:2px;
          margin-top:0;
          margin-bottom:0;
          list-style: none;
        }          
      }
      input[type="text"]#s{
        width:100%;
        font-size: 0.7em;
        padding: 0.2em;
      }
    }
  } 
}

.gallery{
  dl{
    float:left;
    width:150px;
    height:150px;
    margin: 0 10px 10px 0;
  }
}

#wp-calendar{
  font-size:0.5em;
  td{
    padding:5px;
  }
}
@import "footer";

comments{
  display:block;
  width:100%;
  clear:both;
  
  #comments-nav{
    display:block;
    clear:both;
    width:100%;
    margin:20px 0px;
    a{
      color:$blue;
      &:hover{text-decoration: underline;}
      &:visited{color:$blue;}
    }
  }

  ul, ol, li{
    clear:both;
    padding:0px;
  }
  .commentlist{
    display:block;
    width:100%;
    margin:20px 0px;
    
    comment{
      display:block;
      margin:20px 0px;
      padding:0;
    }
    .comment-author{
      display:block;
      width:25%;
      padding:0;
      float:left;
              
      .comment-meta{
        text-align: center;
        line-height:15px;
        margin-top:5px;
        font-size: 1em;
        a{
          font-family: $quicksand;
          color:$grey;
          text-decoration: none;
          &:hover{color:$blue;}
        }
        
      }

      .avatar{
        display: block;
        margin-left: auto;
        margin-right: auto
      }
    }
    
    .comment-content{
      padding:0px;
      float:left;
      width:70%;
      p{color:black;}
      h6{
        font-size:1.2em;
        color:$blue;
        text-decoration: none;
        font-style: italic;
        margin-bottom:20px;
      }
      .comment-reply-link{
        margin-top:20px;
        font-size:0.9em;
        a{
          color:$blue;
            &:visited{color:$blue;}
            &:hover{text-decoration: underline;}
        }
      }
      ul > li > ul > li{
        margin-left:15px;
      }
      ol > li > ol > li{
        margin-left:15px;
      }
    }
    
    .children li{
      margin: 0px 0 0 30px;
      padding: 10px;
      
    }
    .depth-2{background-color: darken(white, 3%);}
    .depth-3{background-color: darken(white, 6%);}
    .depth-4{background-color: darken(white, 9%);}
    .depth-5{background-color: darken(white, 12%);}
  }
}

#respond{
  display:block;
  width:100%;
  clear:both;
  
  h3{
    font-size: 2em; 
    margin-bottom:20px;
    color:$grey;
    font-family: $quicksand;
  }    
}

input[type="text"], input[type="url"], input[type="email"]{
  clear:both;
  width:50%;
  height:25px;
  margin:0px;
  border: 1px solid $grey-bgr-light;
  font-family: $quicksand; 
  font-size:1em;
}
  
textarea{
  clear:both;
  width:50%;
  height:150px;
  margin:0px;
  border: 1px solid $grey-bgr-light;
  font-family: $quicksand; 
  font-size:1em;
}
  
textarea:focus, input:focus {
  border: 1px solid lighten($blue, 20%);
  outline: none;
}
  
input[type="submit"] {
  width:50%;
  background-color : lighten($grey-bgr-light, 5%);
  color : $grey;
  font-family: $quicksand; 
  font-size:1.3em;
  height:40px;
  border:none;
  @include border-radius(5px);
  @include box-shadow(lighten($grey,20%) 2px 2px 3px);
}
  
label{
  display:block;
  font-family: $quicksand;
  margin:0;
  padding:0;
  width:20%;
}

span.required{
  display:none;
}

textarea:focus, input:focus {
  border: 1px solid lighten($blue, 20%);
  outline: none;
}

line{
  display:block;
  width:100%;
  height:4px;
  background-color: $grey-bgr-light;
  clear:both;
}

@import "nonsemantic";
@import "responsive"; 
@import "print";
